.brand-color {
  color:#00BFA5;
}

.question-wrapper {
  background-color: #333;
  height: 60%;
}

.faded {
  opacity: 0.75;
}

.question-card md-card-content {
  height: 40%;
}

.white-color {
  color: #fff;
}

.text-center {
  text-align: center;
}

.grayscale {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.yes-btn {
  background-image: url(assets/yes_button.png);
}

.no-btn {
  background-image: url(assets/no_button.png);
}

.yes-btn, .no-btn {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 30%;
  height: 100%;
}

.yes-btn:focus, .no-btn:focus {
  outline: none!important;
}


md-card {
  margin-top: 50px;
  margin-bottom: 50px;
}


.heading {
  color: #777;
}


html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.background {
  background-image: url(assets/bg_image-min.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wrapper {
  z-index: 2;
  position: relative;
}

/* After the transition this will be the only class remaining */

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity:0;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}